@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #ffe53b, #ff2525);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: rgba(0, 0, 0, 0.2); /* Fundo suave atrás das caixas */
    border-radius: 7px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.relogio div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 170px;
    background-color: #1a1919; /* Cor preta das caixas individuais */
    color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.relogio span {
    font-weight: bold;
    font-size: 80px; /* Números grandes como na imagem */
}

.relogio span.tempo {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}